node_modules
npm-debug.log
dist
build
*.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.DS_Store
tests
*.test.tsx
*.test.ts
*.spec.tsx
*.spec.ts